<!-- index.handlebars -->

{{!< layouts/main}}

<section class="intro">
    <div class="bg-image h-100" style="background-image: url(./dentist.jpg); background-size: cover; border-radius: 25px;margin-top: 50px; margin-bottom: 50px; margin-right:50px; margin-left: 50px;">
        <div class="mask d-flex align-items-center h-100">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
